body {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  text-align: center;
  background-color: black;
  color: white;
  padding: 50px 100px 10px 100px;
}

header p {
  color: rgb(141, 20, 175);
  text-align: left;
}
h2 span {
  background-color: rgb(142, 17, 167);
}
section {
  text-align: left;
  margin: 0 150px 0 150px;
  font-weight: bold;
}
h3 {
  background-color: blueviolet;
  text-align: center;
}
button:first-of-type {
  background-color: aqua;
}
button:last-child {
  background-color: blueviolet;
}
footer {
  background-color: black;
  padding: 50px 0;
}
footer p {
  background-color: blueviolet;
  /* text-align: center; */
  padding: 20px;
  /* position: absolute;
  margin-right: ; */
}
